<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="/static/assets/bootstrap/css/bootstrap.min.css?h=6b2d6027f04e5023a6fd53851a27447a"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="/static/assets/css/styles.min.css?h=c8fc02f74845665789201ec591c5805b"
    />
    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
  </head>
  <body id="page-top">
    <div id="wrapper">
        {% include 'Admin_s/sidebar.html' %}
        
        {% block 'content' %}

        {% endblock 'content' %}
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
              <div class="text-center my-auto copyright">
                <span>Copyright © Brand 2023</span>
              </div>
            </div>
          </footer>  
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
  </div>
  <script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
  <script src="/static/DataTables/jquery_3.6.min.js"></script>
    <script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
    <script>$(document).ready(function () {
      $('#table_record').DataTable();
  });
  </script>

  <script>
    setTimeout(function () {
      $("#alert1").alert("close");
    },5000);
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script src="/static/assets/js/script.min.js?h=9f15efc56be9a708b037fb03fd7a4797"></script>
  <script src="https://kit.fontawesome.com/88fe0ee13a.js" crossorigin="anonymous"></script>
</body>
</html>