<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0">
    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-">
        <i class="fa-solid fa-building-columns"></i>
      </div>
      <div class="sidebar-brand-text mx-3"><span>Examiner</span></div>
    </a>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'form_submit' %}"><i
          class="fa-regular fa-calendar-check"></i></i><span>Allocation Student</span></a>
    </li>
   
    </ul>
    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button" style="margin-bottom: 26px"></button>
    <div class="text-center d-none d-md-inline"></div>
  </div>
</nav>